{% extends "base.html.twig" %}
{% block body %}
	<div class="container">

		<h1 class="mt-4">Modification du document</h1>

		{{ form_start(form) }}

		<div class="form-group">
			{{ form_label(form.name) }}
			{{ form_widget(form.name) }}
			<div class="form-error">
				{{ form_errors(form.name) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.titre) }}
			{{ form_widget(form.titre) }}
			<div class="form-error">
				{{ form_errors(form.titre) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.description) }}
			{{ form_widget(form.description) }}
			<div class="form-error">
				{{ form_errors(form.description) }}
			</div>
		</div>

		<div class="form-check mt-4">
			{{ form_widget(form.isFavorite) }}
			{{ form_label(form.isFavorite) }}
		</div>

		{{ form_row(form.articles) }}

		{{ form_end(form) }}
	</div>
{% endblock %}
