{% extends "base.html.twig" %}

{% block title %} La Buissoniere {{article.name}}
{% endblock %}


{% block body %}
  <div class="container">
		<h1 class="mt-4"> Nom du document : {{article.name}}</h1>
		{#{{dump(article.average)}}#} 
		<p>La moyenne de la note de ce document est de
			{{ article.average|number_format(2, '.', ',') }}
			/5</p>

    <div>
			<span class="badge bg-primary">Créée le
				{{ article.createdAt|date('d/m/Y') }}</span>
		</div>

    <div class="mt-4">
			{% if article.titre %}
				<p>Titre :
					{{ article.titre }}</p>
			{% else %}
				<p>Titre non renseigné</p>
			{% endif %}
		</div>

    <div class="mt-4">
      {{ article.description|raw }}
    </div>

    <div class="mt-4">
			<p class="mt-4">Commissions concernée par ce document</p>
			{% for category in article.categories %}
				<span class="badge bg-primary">{{ category.name }}</span>
			{% endfor %}
		</div>
		
		<div class="mark">
			{{ form(form) }}
			</div>

		</div>



  </div>
{% endblock %}