{% extends "base.html.twig" %}

{% block title %}La Buissoniere - Accueil
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-5 mb-3">Bienvenue sur la page d'accueil</h1>
			<p class="lead"> Le site des commissions est une application qui va te permettre de stoker tes documents, et de partager des informations ou des articles que tu auras toi-même créer. Tu pourras partager tes informations ou tes documents à la communauté du site, ou bien les garder en privées.</p>
			<hr class="my-4">
			<p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
			<a class="btn btn-primary btn-lgz" href="{{ path('security.registration') }}" role="button">Inscription</a>
		</div>

		{#<div class="articles">
			<h2 class="mt-4">Recettes de la communauté</h2>
			<div class="d-flex justify-content-between">
				{% for article in articles %}
					<div class="card border-primary mb-3" style="max-width: 20rem;">
						<div class="card-header">Recette n°{{ recipe.id }}</div>
						<div class="card-body">
							<h4 class="card-title">
								<a href="{{ path('recipe.show', {id: recipe.id}) }}">{{ recipe.name }}</a>
							</h4>
							<p class="card-text">{{ recipe.description|slice(0, 100) ~ '...' }}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>#}
{% endblock %}
