{% extends 'base.html.twig' %}

{% block title %}La Buissoniere - Mes différentes commissions
{% endblock %}

{% block body %}

		<div class="container mt-4">
			{% if not ingredients.items is same as([]) %}

				{% for message in app.flashes('success') %}
					<div class="alert alert-success mt-4">
							{{ message }}
					</div>
				{% endfor %}

			<h1>Les categories des commissions</h1>
			<a href="{{ path('category.new') }}" class="btn btn-primary">
				Créer une rebriques pour cette categorie de commission
			</a>
			</a>

			<div class="count mt-4">Il y a
				{{ categories.getTotalItemCount }}
				categorie(s)
			</div>

      <table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Numéro</th>
						<th scope="col">Nom</th>
						{# <th scope="col">Date de création</th> #}
						 <th scope="col">Edition</th>
						<th scope="col">Suppresion</th> 
					</tr>
				</thead>
        	<tbody>
					{% for category in categories %}
						<tr class="table-primary">
							<th scope="row">{{ category.id }}</th>
							 <td>{{ category.name }}</td>
							{# <td>{{ category.price|number_format(2, '.', ',') }}
								€</td>
							<td>{{ category.createdAt|date('d/m/Y') }}</td>
							<td>#}
								<a href="{{ path('category.edit', { id: category.id }) }}" class="btn btn-info">Modifier</a>
							</td>
							<td>
								<a href="{{ path('category.delete', { id: category.id }) }}" class="btn btn-warning">Supprimer</a>
							</td>  
						</tr>
					{% endfor %}
				</tbody>
			</table>
       <div class="navigation d-flex justify-content-center mt-4">
				{{ knp_pagination_render(categories) }}
			</div> 
		{% else %}
			<p>Il n'y a pas de sous categories pour cette commission</p>
		{% endif %}
	</div>
{% endblock %}


