{% extends 'base.html.twig' %}
<article class="mb-5">
    <div class="row">
        <div class="col-md-5">
        {% if category.name %}
          <h3 class="pb-4 mb-4 fst-italic border-bottom">{{category.name }}</h3>
            {# if category.name %}
                <a href="{{ path('category_show', { 'slug': category.slug }) }}">
                    {#<img src="/uploads/{{ article.featuredImage.filename }}" alt="{{ article.featuredImage.altText }}" loading="lazy" width="350" height="205"#} >
                </a>
            {% endif %}
                {#</a>#}
            {#{% endif %} #}
        </div> 
          {{category.name}}

        </div>

</article>